.profile-pics {
    display: flex !important;
    align-items: center !important;
    /* gap: 30% !important; */
}

.profile-pics>span {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* .profile-pics>span>input{
    display: none;
} */